.heading-sm{

}

.heading-md{

}

.heading-lg{
    font-size: 55px;
}

.heading-xlg{

}


.medium-bold{
    font-weight: 500;
}
.bold{
    font-weight: bold;
}
.bolder{
    font-weight: bolder;
}

@media only screen and (max-width: 600px) {
    .heading-sm{

    }

    .heading-md{

    }

    .heading-lg{
        font-size: 48px;
    }

    .heading-xlg{

    }
}