@import './button.css';
@import './navigation.css';

:root {
  --angel_orange:#ED9A00;
  --angel_orange_transparent:rgba(237, 154, 0, 0.5);
  --angel_yellow:#FADA62;
  --angel_white:#fff;
  --angel_black:#000;
  --angel_black_transparent:rgba(0,0,0,0.5);
  --angel_dark:#333333;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:focus, :focus-visible{
  outline: none !important
}