/* Navigation styles */
.desktop-nav{
  top:0;
  width:100%;
  position:fixed;
  transition: all 0.6s;
}
.desktop-nav.sticky-nav{
  background:var(--angel_white);
  box-shadow:0 10px 20px rgba(43,61,79,.05);
}

.non-sticky-nav .social-icon{
  color: var(--angel_white);
}
.social-icon{
  transition: all 0.3s;
  cursor: pointer;
}

.social-icon:hover{
  color: var(--angel_orange);
  transform: translateY(-20%);
}
.NavList{
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
}
.NavList li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
    margin-top:auto;
    margin-bottom:auto;
    transition: 0.3s;
}

.navi-link{
  text-decoration: none;
  color:var(--angel_dark);
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.3s;
  font-size: 16px;
}

.navi-link.light.desktop-activeMenu{
    color: var(--angel_orange) !important;
}
.navi-link.desktop-activeMenu{
    color: var(--angel_orange) !important;
}

.navi-link.light{
  color: var(--angel_white) !important;
}

.navi-link.light:hover{
  color:var(--angel_orange) !important;
}

.navi-link:hover{
  color:var(--angel_orange);
}

.dropdown-menu-list{
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.4);
  width:100%;
  background-color:var(--angel_white);
  transition:0.6s
}

.activeMenu{
  background-color: var(--angel_orange);
}

.activeMenu .navi-link{
  color: var(--angel_white) !important;
}

